#allow hal_allocator_default debugfs:file { open write };
allow hal_allocator_default debugfs_tracing_instances:dir search;
allow hal_allocator_default debugfs_tracing_instances:file { open write };
